/* src/componentes/MisReservas.css */

.mis-reservas-container {
  background-color: var(--primary-bg);
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  padding-top: 4rem;
}

.content-container {
  padding: 2rem;
}

.estadisticas {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 2rem;
}

.estadisticas-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.estadisticas-item h3 {
  font-size: 1.25rem;
  color: var(--color-dark);
}

.estadisticas-item p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-dark);
}

/* Notificaciones */
.notification {
  padding: 1rem;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 400px;
  opacity: 0;
  animation: fadeInOut 5s ease-in-out forwards;
}

.notification.error {
  background-color: #e74c3c; /* Rojo para errores */
}

.notification.success {
  background-color: #28a745; /* Verde para éxito */
}

/* Animación para la notificación */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-30px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(30px);
  }
}

/* Filtro y tabla */
.filters-and-table {
  display: flex;
  gap: 2rem;
}

.filters {
  flex: 1;
}

.filtro {
  margin-bottom: 1.5rem;
}

.filtro label {
  font-weight: 600;
  font-size: 1rem;
}

.filtro-select {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.filtro-select:hover {
  border-color: var(--color-dark);
}

.table-container {
  flex: 2;
  max-width: 800px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.table thead {
  background-color: var(--color-dark);
  color: white;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  font-weight: 600;
}

.table tbody tr:nth-child(even) {
  background-color: #f7f9fb;
}

.table tbody tr:hover {
  background-color: #d9f7d9;
}

.estado {
  font-weight: 600;
}

.estado.Reservada {
  color: var(--color-success);
}

.estado.Cancelada {
  color: #e74c3c;
}

/* Botones */
.btn-cancelar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cancelar:hover {
  background-color: #c0392b;
}
